{% extends "layout_demo.html" %}
{%block body%}
    <div class="container">
    <h1>Student Information</h1>
    <table style="border:1px solid black">
        <tr>
            <th>Student Name</th>
            <th>Student Marks</th>
            <th>Student Roll No</th>
        </tr>
        <tr>
            <td>Siddharth Shah</td>
            <td>78</td>
            <td>1</td>
        </tr>
        <tr>
            <td>  Vipul Patel </td>
            <td>  89          </td>
            <td>  2           </td>
        </tr>
        <tr>
            <td>  Viren Mehta   </td>
            <td>  76            </td>
            <td>  3             </td>
        </tr>
        <tr>
            <td>  Bunty Majmudar  </td>
            <td>  91              </td>
            <td>  4               </td>
        </tr>
    </table>
    </div>
{%endblock%}